@model Loto.Web.Models.Requests.BranchSaveRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BranchSaveRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="group" class="control-label"></label>
                <input asp-for="group" class="form-control" />
                <span asp-validation-for="group" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="code" class="control-label"></label>
                <input asp-for="code" class="form-control" />
                <span asp-validation-for="code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="collector" class="control-label"></label>
                <input asp-for="collector" class="form-control" />
                <span asp-validation-for="collector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxLottery" class="control-label"></label>
                <input asp-for="maxLottery" class="form-control" />
                <span asp-validation-for="maxLottery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxPhoneRecharge" class="control-label"></label>
                <input asp-for="maxPhoneRecharge" class="form-control" />
                <span asp-validation-for="maxPhoneRecharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxInvoices" class="control-label"></label>
                <input asp-for="maxInvoices" class="form-control" />
                <span asp-validation-for="maxInvoices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manager" class="control-label"></label>
                <input asp-for="manager" class="form-control" />
                <span asp-validation-for="manager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
